@font-face { font-family: Sarabun; src: url('fonts/Sarabun-Regular.ttf'); }
@font-face { font-family: BebasNeue; src: url('fonts/BebasNeue-Regular.ttf'); }

html, body {
	margin: 0 !important;
	padding: 0 !important;
}
body {
	background: url("images/contentbggraphic.png") 0 0;	
	background-position: bottom;
	background-repeat: repeat-x;
	background-attachment: fixed;	
	color: #555;
	font: normal 16px/150% 'Verdana', sans-serif;
	/*font-family: 'Mako', sans-serif;
	font-size: 16px;
	font-weight: normal;*/
	margin: 0;
}

a {
	font-family: Sarabun;	
	text-decoration: none;
	color: #000000;
	border-bottom: 1px dotted;
}
a:hover {
	border-bottom: 1px solid;
}

h1, h2, h3 {
	font-family: BebasNeue;
	font-size: 175%;

	margin-bottom: 0;
	background: linear-gradient(45deg, #000000, #2dba73, #000000, #2dba73, #000000, #2dba73);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	text-shadow: 3px 3px #61616158;
}
#cornerImage {
	position: absolute;
	bottom: 0;
	right: 0;
	align-self: auto;
}
#cornerImage2{
	padding-left: 200px;
	width: auto;
	height:150px;
    z-index:3;	
}
#cornerImage3{
	position:absolute;
	height: 50%;
	width:  100%;
	bottom: 0%;
	z-index: -4;
}
.two-col-cell {
	display: table-cell;
	float: left;
	width: calc(100% / 2);
}
.three-col-cell {
	display: table-cell;
	float: left;
	width: 75%;
	margin-left: 250px;		
}
.sub {
	font-size: 95%;
	padding: 3px 0;
	margin: 0;
}
.clear {
	clear: both;
}
ul#menu {
	width: 200px;
	position: fixed; /*change to 'fixed' for sticky menu */
	top: 80;
	left: 0%;
	overflow: auto;		
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1;		
	/*border:5px solid #808;*/
}
ul#menu li {
	border-top: 1px solid rgba(255, 255, 255, 0.282);
	border-bottom: 1px solid #6161618b;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	overflow-x: hidden;
	overflow-y: hidden;	
}

ul#menu li a {
	cursor:pointer;	
	font-size: 85%;
	text-align: center;
	text-decoration: none;
	text-shadow: 3px 3px #40404093;		
	color: rgb(255, 255, 255);
	padding: 10.5px 11px;
	background : url("images/Pointer.png") 0 0;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	display: block;
	border: none !important;
}
ul#menu li a:hover {
	background-color: rgba(112, 142, 104, 0.535);
	backdrop-filter: blur(5px);	
	background : url("images/PointerPointed.gif") 0 0;	
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);	
	color: #fff;
	border: none !important;
	transform: scale(105%);
	transition: transform 0.25s;

}
ul#menu li a:active {
	background-color: rgba(112, 142, 104, 0.535);
	backdrop-filter: blur(5px);	
	background : url("images/PointerPointed.gif") 0 0;	
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);	
	color: #fff;
	border: none !important;
	filter:brightness(1.20);
	transform: translateY(2px);
}
#banner {
	display: table;
	width: 100%;
	height: 150px;
	background-color: #74ce35;
	color: #fff;
	margin-top: 18px;
}

#banner2 {
	position: absolute;
	display: table;
	width: 100%;
	height: 150px;
	background: url("images/Sky21SCroll.gif");
	color: #fff;
	margin-top: 18px;
}

#logo {
	cursor:pointer;		
	width: auto;
	height:142px;
	padding-left:13.5%;
	padding-top:1%;	
	filter: drop-shadow(-8px -8px 4px #27023947)
}
#logo:hover {
	filter:hue-rotate(130deg) saturate(160%) drop-shadow(-8px -8px 4px #27023947);
	transition: transform 0.25s;
}
#logo:active {
	filter:hue-rotate(130deg) saturate(400%) drop-shadow(-8px -8px 4px #27023947);	
	transform: translateY(1px);
}



#header {
	display: table-cell;
	vertical-align: right;
	z-index: 4;
}

#headertext {
	font-family: Sarabun;	
	position: absolute;
	left: 256px;
	top: 75%;

	font-size: xx-large;
	text-align: left;

	opacity: 0;
	transition: opacity 1s;	
}

.sideBar {
	height: 100%;
	width: 200px;
	overflow-x: hidden;
	padding-top: 0px;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	backdrop-filter: blur(64px);

	background-image: linear-gradient(180deg,#362630ae, #362630bf, #362630df, #362630f4, #1e1e1e);
}
#wrapperPanel {
	position:absolute;
	opacity: 0%;
	width:100%;
	height:100%;
	background-image: linear-gradient(180deg,#241a20d4, #24192070);	
	transition: opacity 0.25s;
}
#infoPanel {
	display: none;
	top:calc(100%/5);
	left:25%;
	height: 65%;
	width: 50%;
	overflow-x: hidden;
	position: absolute;
	z-index: 8;

	opacity: 0%;
	transition: opacity 0.25s;	
	background-image: linear-gradient(180deg,#362630, #362630b7, #1e1e1e);
	border-radius: 32px;
	box-shadow: 3px 3px 3px #33333349;
}
#infoBubble {
	position: relative;
	left:5.5%;
	margin-top: 32px;
	padding-top: 20px;
	padding-bottom: 20px;	

	width: auto;
	max-width: 120%;
	
	background-image: linear-gradient(180deg,#362630, #362630b7, #1e1e1e);
	border-radius: 32px;
	box-shadow: 3px 3px 3px #33333349;
}
#infoBubble_Description {
	position:relative;
	font-family: Sarabun;
	text-align: left;	
	color: #FFF;
	text-shadow: 2px 2px 3px #353535;
	font-size: 125%;
	padding-top: 32px;
	margin-left: 24px;
	margin-bottom: 24px;
}

#infoBubble_Description text {
	margin-left: 8px;
	color: #FFF;
}

#infoBubble_Requirements {
	position:relative;
	font-family: Sarabun;
	text-align: left;	
	color: #FFF;
	text-shadow: 2px 2px 3px #353535;
	font-size: 125%;
	padding-top: 12px;
	margin-left: 64px;	
	margin-bottom: 24px;
}

#infoBubble_Links {
	width:auto;
	cursor:pointer;
	display:flex;
	font-family: Sarabun;
	text-align: left;	
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 3px #353535;
	font-size: 125%;
	color:#61d041;
	padding-top: 5px;
	margin-left: 64px;
}
#infoBubble_Link {
	position: relative;
	padding-right: 32px;
}
#infoBubble_Link img {
	transform: translateY(4px);
}
#infoBubble_Link:hover {
	filter:hue-rotate(-12deg);
	filter:brightness(1.25);
	transform: scale(105%) translateX(2%);
	transition: transform 0.25s;	
}
#infoBubble_Gallery {
	margin-top: 24px;
	margin-left: 64px;
	margin-right: 64px;	
}

#infoBubble_Image {
	cursor:pointer;
	width: 28%;
	outline: solid 6px;
	outline-color:#74ce35;
	margin-top: 24px;
}
#infoBubble_Image:hover {
	filter:brightness(120%) saturate(80%);
	transform: scale(100.5%);
	transition: transform 0.5s;
}

#closePanel {
	cursor:pointer;		
	padding-left: 20px;
	padding-top: 20px;
	scale:20px;
}
#closePanel:hover {
	filter:hue-rotate(-12deg);
	filter:brightness(1.25);
	transform: scale(105%);
	transition: transform 0.25s;
}
#closePanel:active {
	filter:hue-rotate(-12deg);
	filter:brightness(1.25);
	transform:translateY(2px);	
}

#infoPanel_Header {
	font-family: BebasNeue;
	font-size: 175%;

	text-align: center;

	color: #61d041;
	text-shadow: 3px 3px #61616158;
}


#infoPanel_Description {
	width: 40%;
	font-family: Sarabun;	
	text-align: left;	
	color:#61d041;
	text-shadow: 2px 2px 3px #353535;
	font-size: 125%;
	margin-left: 50%;
	margin-top: -22.5%;
}

#infoPanel_Image {
	width: 40%;
	outline: solid 6px;
	border-radius: 1%;
	outline-color:#74ce35;
	margin-top: 3.5%;
	margin-left: calc(85%/2 - 7*50%/10);
}

#infoPanel_Links {
	cursor:pointer;
	font-family: Sarabun;
	text-align: left;	
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 3px #353535;
	font-size: 125%;
	margin-left: calc(85%/2 - 7*50%/10);
	margin-top: 22.5%;
	color:#61d041;
}
#infoPanel_Links img {
	transform: translateY(4px);
}
#infoPanel_Links:hover {
	filter:hue-rotate(-12deg);
	filter:brightness(1.25);
	transform: scale(105%) translateX(2%);
	transition: transform 0.25s;	
}


#content {
	padding-left: 25%;	
	margin-bottom: 15px;
}

#mainPanel {
	margin-right: 0%;
	transition: margin-right 1s;
}

#insertContent {
	opacity: 0;
	transition: opacity 0.75s;
	padding-top: 180px;
	word-wrap: break-word;
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#textContents{
	font-family: Sarabun;	

	position: relative;
	left: 8%;
	width: 80%;
	word-wrap: break-word;
}

#textContents h1, h2, h3{
	position: relative;
	left: -2.5%;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}

#textContents b {
	background: linear-gradient(45deg, #000000,  #2c066d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
};

.pageitem {
	width: 97%;
	margin-left: 35%;
	margin-bottom: 15px;
	float: left;
}

#footer {
	border-top: 2px solid #79BFA1;
	text-align: right;
	width: calc(100% - 156px);
	margin-left: 150px;
	padding-top: 15px;
	padding-right: 15px;
	padding-inline: 2px;
	padding-bottom: 15px;
	font-size: 75%;
	line-height: 70%;
	margin-top: auto 0;
	word-wrap: break-word;
	clear: both;
}